<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Calificaciones</title>
    <link rel="stylesheet" href="welcome.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <h1 class="text-center bg-pink py-3 font-montserrat">Bienvenido a tu App Calificaciones</h1>

    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ver mis notas</h5>
                        <p class="card-text">Hacé click en Ir para visualizar tus notas</p>
                        <a href="ver-notas" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cargar notas</h5>
                        <p class="card-text">Hacé click en Ir para cargar notas</p>
                        <a href="cargar-notas" class="btn btn-primary">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
